.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: inline-block;
  height: 50px;
}

.big {
  font-size: 3rem;
  line-height: 3.5rem;
}