@import 'reset.css';

*, :before, :after  {
  box-sizing: border-box;
  user-select: none;
}

body {
  --white: #fffefc;
  --gray: #7d7d8e;
  --lightgray: #dadee2;
  --black: #000000;

  --bar-color: #fff;
  --ball-color: #fff;
  --bg-color: #EA4961;

  margin: 0;
  font-family: 'SUIT', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  
  max-width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
}

main {
  padding: 2rem;
  gap: 10px;
  margin: 0 auto;
  max-width: 1100px;
  text-align: left;
  padding-bottom: 100px;
  
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #dadee2;
  gap: 10px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: var(--gray);
  transition: 0.2s;
}

a:hover {
  color: var(--black);

}

ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px 20px;
}

nav a {
  font-size: 0.9rem;
}

section {
  display: flex;
  height: 400px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #dadee2;
  margin-bottom: 15px;
}

section h1 {
  flex: 60%;
}

strong {
  font-weight: 800;
}